# Bot de Telegram
pyTelegramBotAPI==4.14.0

# Web API
Flask==2.2.5

# APIs y peticiones HTTP
requests==2.31.0

# Tareas programadas
schedule==1.2.0

# Scraping
trafilatura==1.6.2
beautifulsoup4==4.12.2
lxml==4.9.3
